.teaser{
	background-color: rgb(2,117,255);
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 15px 20px;
	text-align: center;
	font-weight: bold;
	cursor: auto;	
    font-size: 14px;
    line-height: 1.42857143;
}

.teaser:hover {
	text-decoration: none;
	color: #fff;
	background-color: #0275d8;
}

.teaser:visited{
	text-decoration: none;
	color: #fff;
}

.ap-navbar{
	font-weight: 500;
    color: #563d7c;
    text-align: center;
}

.download_button{
	width: auto;
	padding: 15px 30px;
	font-size: 20px;
	color: #fff;
	border: 1px solid transparent;
	background-color: #6f5499;
	border-color: #cdbfe3;
	line-height: 1.33;
	border-radius: 6px;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	box-sizing: border-box;
}

.download_button:hover{
	color: #6f5499;
	background-color: #fff;
	border-color: #fff;
	text-decoration: none;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143
}

.text{
	color: #fff;
}

.container{	  
	box-sizing: border-box;	
    display: block;
	cursor: auto;
	width: auto;
	padding: 80px 15px 80px 15px;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;  
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	cursor: auto;	
    font-size: 14px;
    line-height: 1.42857143;
}

.p{
	display: block;
	width: 142px;
	height: 142px;
	border-radius: 15%;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(205, 191, 227);
	color: #fff;
	cursor: default;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 108px;
	font-weight: 500;
	line-height: 140px;  
	margin: 0px auto 30px;
	text-align: center;	
}