#header{
	font-style: italic;
	color: red;
	text-align: center;
	font-size: 24px;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
}

#lyrics{
	text-align: center;
	font-size: 16px;
	color: violet;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
}

